<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Linktree</title>
    <link href="replit_day_75.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>{name}'s Linktree</h1>

    <img src="linktree_profile.jpeg" width = 30%>
    <h2>About {name}</h2>
      <p class="blurb">Learning among the space</p>

    <h2>Socials</h2>
    <ul>
      <li><a href = "https://www.linkedin.com/in/jung-chen-lee/">Link to Linkedin</a></li>
      <li><a href = "https://github.com/jcl77777/">Link to Github</a></li>
      <li><a href = "https://github.com/jcl77777/replit_100_days/">Link to My replit 100 Days</a></li>
    </ul>

  </body>
</html>