<form action="/robot" method="post">
    <h1>Robot Doom Day</h1>
    <p>Below are some questions to seek out your true soul...</p>
    <ul>
    <li><label for = "metal">Are you made of metal?</label>
    <input type="radio" name = "metal" value = "yes">Yes</input>
    <input type="radio" name = "metal" value = "no">No</input>
    </li>
    <li>
      <p>What's your favorite food?</p>
      <select name="food">
          <option value ="notselected"></option>
          <option value="pizza">Pizza</option>
          <option value="oil">Oil</option>
        </select>    
    </li>
    <li>
    <label for = "infinity">What's 1+1?</label>
    <input type="text" id="ED209" name ="ED209">
    </li>
    </ul>
    <button type="submit"> Check my true soul </button>
  </form>